@charset "utf-8";
@import 'sass_base/mixin';
@import 'sass_base/animate';
@import 'sass_base/icon_arrow';

body {
  margin: 0;
  padding: 0;
}
.bx-wrapper {
  box-shadow: none;
  border: none;
  margin: 0;
}
//スライダーの高さ(pc時)
$height : 400px;
//スライダーの高さ(sp時)
$height_sp : 400px;

.bx_slider-wrapper {
    overflow: hidden;
    .bx_slider {
        position: relative;
        left: 10vw; /* (100vw - SlideWidth) / 2 */
        overflow: visible !important;
        @include media($sp) {
            left: 0;
        }
    }
    .slide_contents {
        width: 40vw !important;
        height: $height;
        overflow: hidden;
        @include media($sp) {
            height: $height_sp;
            width: 100vw !important;
        }
    }
    .slaider_figre_wapper {
        display: block;
        padding: 0;
        margin: 0 auto;
        width: 96%;
        height: $height;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #999;
        text-align: center;
        @include media($sp) {
            height: $height_sp;
            width: 100%;
        }
    }
    
}

.slaider_figre_wapper p {
    font-weight: 800;
    color: #EEE;
}
.slaider_figre_wapper img {
    display: block;
    width: 100%;
}